{% extends '::baseFrontEnd.html.twig' %}
{% block css %}

    <style>
        .form-control {

            background-color: #000000;
            border: 1px solid rgba(255,255,255,0.2);
            border-style:dashed;
            color: #FFFFFF;

        }
        .message-avert
        {
            margin-top:190px;
            margin-left: -650px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="loader"></div>

    <div class="main-content darkplus" id="main">
        {% block nav %}{{ render(controller('OCWebAgencyBundle:Page:menuFront')) }}{% endblock %}

        <div>
            <div class="title-page"><h1>Nous contacter</h1></div>
            <div class="newsletter nub4"><a href="{{ path('oc_web_agency_newsletter') }}"><h2>s'inscrire à la newsletter</h2></a></div>
            <div class="devis nub3"><!--devis--><a href=""><h2>demander votre devis ici</h2></a></div>
            <div class="message-avert">
                {# On affiche tous les messages flash #}
                {% for message in app.session.flashbag.get('message-contact') %}
                    <h4>{{ message }}</h4>
                {% endfor %}
            </div>
        </div>

        {{ form_start(form, {'attr': {'class': 'form-contact'}}) }}

        <div class="names">
            {{ form_widget(form.lastName,{'attr':{'class':'nom', 'placeholder': 'Nom'}}) }}
            {{ form_errors(form.lastName) }}
            {{ form_widget(form.firstName,{'attr':{'class':'prenom', 'placeholder': 'Prénom'}}) }}
            {{ form_errors(form.firstName) }}

        </div>

        {{ form_widget(form.email,{'attr':{'class':'email', 'placeholder': 'Email'}}) }}
        {{ form_errors(form.email) }}

        {{ form_widget(form.object,{'attr':{'class':'objet', 'placeholder': 'Sujet'}}) }}
        {{ form_errors(form.object) }}

        {{ form_widget(form.message,{'attr':{'class':'message', 'placeholder': 'Message'}}) }}
        {{ form_errors(form.message) }}

            <button type="submit" name="submit" class="btn-submit">Envoyer</button>
        {{ form_end(form) }}
    </div>


{% endblock %}