{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/postList.css') }}">
{% endblock %}

{% block body %}
    {% include '@OCWebAgency/Navigation/backEnd.html.twig' %}
    <h1>Modifier la page</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success col-md-2" type="submit" value="Enregistrer" />
    {{ form_end(edit_form) }}

    <div class="col-md-2 col-md-offset-1">
        <a class="btn btn-info btn-block" href="javascript:history.back()">Retour</a>
    </div>
    <div class="col-md-2 col-md-offset-1">
            {{ form_start(delete_form) }}
                <input class=" btn btn-danger btn-block" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
    </div>
{% endblock %}
