{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/adminPost.css') }}">
{% endblock %}
{% block body %}
    {% include '@OCWebAgency/Navigation/backEnd.html.twig' %}
    <h1>Post</h1>
<div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Name</th>
                <th>Category</th>
                <th>Email</th>
                <th>Image</th>
                <th>Date</th>
                <th>Isposted</th>

            </tr>
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.name }}</td>
                <td>{{ post.category }}</td>
                <td>{{ post.email }}</td>
                <td>{{ post.image }}</td>
                <td>{% if post.date %}{{ post.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if post.isPosted %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <div class="jumbotron">
        {{ post.content|raw }}
    </div>
</div>


<div class="row">
        <div class="col-md-2 btn btn-success ">
            <a href="{{ path('admin_post_index') }}">
            <span class="glyphicon glyphicon-backward"></span> Back to the list</a>
        </div>

        <div class="col-md-2 col-md-offset-1 btn btn-info">
            <a href="{{ path('admin_post_edit', { 'id': post.id }) }}">Edit</a>
        </div>
        <div class="col-md-2">
            {{ form_start(delete_form) }}
                <input class="btn btn-danger btn-block " type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
</div>
    <br><br>

{% endblock %}
