{% extends 'base.html.twig' %}

{% block body %}
    <h1>Newsletter</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ newsLetter.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ newsLetter.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ newsLetter.email }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if newsLetter.date %}{{ newsLetter.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_newsletter_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_newsletter_edit', { 'id': newsLetter.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
