{% extends '::baseFrontEnd.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/style-spe-blog.css') }}">
{% endblock %}

{% block body %}
    <div class="loader"></div>
    <div id="section" role="main">

        {% block nav %}{{ render(controller('OCWebAgencyBundle:Page:menuFront')) }}{% endblock %}
        <div id="section1_1">
            <div class="section1-content main-content4">
                <div class="section1-content1" >

                </div>
                <div class="section1-content2">
                    <div class="title-page"><h1>Le blog</h1></div>
                    <form class="searchbar"><!--searchbar-->

                        <input type="search" name="search" placeholder="Rechercher">
                        <span class="custom-dropdown custom-dropdown--white">
								<select name="categories" class="custom-dropdown__select custom-dropdown__select--white">
										<option value="Marketing">Les catégories</option>
										<option value="Marketing">Marketing</option>
										<option value="Developpement">Développement</option>
										<option value="Design">Design</option>
										<option value="Web_general">Web général</option>
								</select>
							</span>
                        <button name="submit">Valider</button>

                    </form>
                    <div class="newsletter p"><!--newsletter--><a href="#"><h2>s'inscrire à la newsletter</h2></a></div>
                    <div class="one-item">
                        <h3>{{ post.title }}</h3>
                        <div class="content-item"> {% if post.image is not null %}
                                <img class="one-item-img" src="/Agence_Web/web{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{post.title}}"/>{% endif %}{{ post.content|raw }}
                         <div>

                     </div>

                 </div>

        </div>

    </div>
    </div>

{% endblock %}