{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/post.css') }}">
{% endblock %}
{% block body %}
    {% include '@OCWebAgency/Navigation/frontEnd.html.twig' %}


    <div class="row">
        <br/>
        <div class="container col-md-12">
            <h4 class="">{{ post.title }}</h4>
        </div>

        <div class="col-md-4 col-md-12">
            <img src="{{ asset('uploads/images/' ~ post.image) }}" height="100px" width="250px" class="img-responsive" alt="{{ post.title }}"/>
            <br>
        </div>
        <div class="col-md-8 col-md-12">
            {{ post.content|raw }}
        </div>
        <a class="btn btn-info" href="{{ path('oc_web_agency_blog') }}">Retour au blog</a>
        <a class="btn btn-info" href="{{ path('oc_web_agency_homepage') }}">Accueil</a>
        <br/>
        <hr>
    </div><!-- end div row -->

<h3>{{ message }}</h3>

    <div class="row">
        {%  for comment in comments  %}

            <br/>
            <div class="container col-md-12">
                <h4>{{ comment.author }}</h4>
            </div>
            <p>{{ comment.content }}</p>

        {% endfor %}
    </div><!-- end div row -->



 <div class="container ">
    <h4>Laisser votre commentaire:</h4>
    <form method="post" action ={{ path('oc_web_agency_addcommentpost') }} >
        <div class="row">
            <div class="input-field col s12 m6">
                <label for="author">Nom</label>
                <input class="form-control" id="author" name="author" type="text" required="required" >
            </div>

            <div >
                <label for="email">Adresse email</label>
                <input  class="form-control" type="email" id="email" name="email" >
            </div>

            <div >
                <label for="comment">Votre commentaire</label>
                <textarea  class="form-control" id="comment" name="comment" required="required"></textarea>
            </div>
            <br>
            <div class="col s12">

                <button class="btn btn-info" type="submit" name="submit" value={{ post.id }}>  commenter</button>
            </div>
        </div>
    </form>
 </div>
    <br>

{% endblock %}