{% extends '::baseFrontEnd.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/style-spe-blog.css') }}">
    <style>
        * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .item {
            position: relative;
            border: 0px solid #333;
            margin: 0%;
            overflow: hidden;
            width: 100%;
            height: 250px;
        }
        .item img {
            max-width: 100%;

            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        .item:hover img {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

        .articles div h4 {
            top: 78%;
        }

        .message-avert {
            margin-top: -390px;
            margin-left: 71px;
        }


    </style>
{% endblock %}

{% block body %}
    <div class="loader"></div>
    <div id="section" role="main">

    {% block nav %}{{ render(controller('OCWebAgencyBundle:Page:menuFront')) }}{% endblock %}
        <div id="section1_1">
            <div class="section1-content main-content4">
                <div class="section1-content1" >
                </div>
                <div class="section1-content2">
                    <div class="title-page"><h1>Le blog</h1></div>

                    <div class="newsletter">
                        <p>

                        </p>
                    </div>

                    <div class="every-articles">

                        <div class="line-article">

                            <div class="message-avert">
                                {# On affiche tous les messages flash #}
                                {% for message in app.session.flashbag.get('avert-message') %}
                                    <h3>{{ message }}</h3>
                                {% endfor %}
                            </div>

                            <div class="articles">

                                {% for post in posts %}
                                    <div class="item">
                                        {% if post.image is not null %}

                                            <img style="position: absolute;height: 100%;width:100%" src="/Agence_Web/web{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{post.title}}"/>

                                        {% endif %}
                                        <h3 style="background: #FFFFFF;color: #000000;position: absolute;width: 70%;position: left;padding-top: 5px;padding-bottom: 5px;padding-left: 5px;" >{{ post.title }}</h3>
                                        {% if post.category is not null %}
                                            <h4 class="hider">{{ post.category.name }}</h4>
                                        {% endif %}
                                        <a href="{{ path('oc_web_agency_completepost',{'id': post.id }) }}" class="bouton-plus" style="color: #000000;background: #FFFFFF;">en savoir plus</a>

                                    </div>
                                {% endfor %}


                            </div>
                        </div>
                    </div>
                </div>


                {{ include("OCWebAgencyBundle:Blog:searchBarBlog.html.twig") }}

                <div class="newsletter p"><a href="{{ path('oc_web_agency_newsletter') }}"><h2>s'inscrire à la newsletter</h2></a></div>

                <div id="container">
                    <div class="navigation">
                        {{ knp_pagination_render(posts) }}
                    </div>

                </div>
            </div>

        </div>

    </div>

{% endblock %}