{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/adminComment.css') }}">
{% endblock %}

{% block body %}

    {% include '@OCWebAgency/Navigation/backEnd.html.twig' %}
    <h1>Comment edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <br>
    <div class="row">
        <div class="col-md-4 block">
        <input type="submit" value="Edit" class="btn btn-primary btn-block" />
        </div>
        {{ form_end(edit_form) }}
        <div class="col-md-4">
         <a class="btn btn-success btn-block" href="{{ path('oc_web_agency_admin') }}">Back to the list</a>
        </div>
    </div>
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
{% endblock %}
