{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/adminComment.css') }}">
{% endblock %}

{% block body %}
    {% include '@OCWebAgency/Navigation/backEnd.html.twig' %}
    <h1>Comment</h1>

    <table class="table-striped table-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Email</th>
                <th>Content</th>
                <th>Postid</th>
                <th>Isseen</th>
                <th>Date</th>

            </tr>
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.author }}</td>
                <td>{{ comment.email }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.postId }}</td>
                <td>{% if comment.isSeen %}Yes{% else %}No{% endif %}</td>
                <td>{% if comment.date %}{{ comment.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>




    <ul>
        <li>
            <a href="{{ path('admin_comment_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
