{% extends 'base.html.twig' %}


{% block body %}
    {% include '@OCWebAgency/Navigation/backEnd.html.twig' %}
    {% block css %}
        <link rel="stylesheet" href="{{ asset('css/adminCommentShow.css') }}">
     {% endblock %}

    <h1>Comment</h1>

    <table class="table table-dark table-striped">
       <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Email</th>
                <th>Content</th>
                <th>Postid</th>
                <th>IsSeen</th>
                <th>Date</th>
            </tr>
       </thead>
        <tbody>
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.author }}</td>
                <td>{{ comment.email }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.postId }}</td>
                <td>{% if comment.isSeen %}Yes{% else %}No{% endif %}</td>
                <td>{% if comment.date %}{{ comment.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('oc_web_agency_admin') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_comment_delete', { 'id': comment.id }) }}">Delete</a>
        </li>

    </ul>

    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
{% endblock %}
