{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/adminContact.css') }}">
{% endblock %}
{% block body %}
    {% include '@OCWebAgency/Navigation/backEnd.html.twig' %}



    <h1>Contact</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ contact.lastName }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ contact.firstName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Object</th>
                <td>{{ contact.object }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ contact.message }}</td>
            </tr>
        </tbody>
    </table>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-3  btn  btn-success">
                 <a href="{{ path('admin_contact_index') }}">Back to the list</a>
            </div>
            <div class="col-md-3 col-md-offset-1 btn btn-info">
                 <a href="{{ path('admin_contact_edit', { 'id': contact.id }) }}">Edit</a>
            </div>
            <div class="col-md-3 col-md-offset-1 ">
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
